In [48]:
import pandas as pd
df = pd.read_csv('data.csv')
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], format='%d %b %Y')  
df['Transaction Date'] = df['Transaction Date'].dt.strftime('%d/%m/%Y')
df['Description']=df['Description'].str.replace(r'[^a-zA-Z1-9\s]', '', regex=True)
df['Amount'] = df['Amount'].str.replace(',', '')
df['Balance'] = df['Balance'].str.replace(',', '')

In [49]:
df.head()

  Transaction Date     Description  Amount Balance
0       01/11/2023          Salary  1500.0  1500.0
1       02/11/2023            Rent  -800.0   700.0
2       03/11/2023       Groceries  -200.0   500.0
3       04/11/2023       Utilities  -150.0   350.0
4       05/11/2023  ATM Withdrawal  -100.0   250.0

In [51]:
df.to_csv('Task_Solution.csv', index=False)